{% extends 'header.html' %}
{% block main %}

<div class="card shadow mt-5">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid green;">Welcome Administrator</h5>
        <div class="container-fluid mt-3">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <a href="{% url 'add_Service' %}" class="text-dark">
                                <div class="info-box">
										<span class="info-box-icon bg-info elevation-1"><i
                                                class="fas fa-book-open"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Total Service</span> <span
                                            class="info-box-number"> {{totalserv}}
											</span>
                                    </div>

                                </div>
                            </a>

                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-4">
                            <a href="{% url 'newRequest' %}" class="text-dark">
                                <div class="info-box mb-3">
										<span class="info-box-icon bg-danger elevation-1"><i
                                                class="fas fa-book-reader"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">New Request</span> <span
                                            class="info-box-number"> {{totalnewreq}}
											</span>
                                    </div>

                                </div>
                            </a>
                        </div>


                        <div class="col-12 col-sm-6 col-md-4">
                            <a href="{% url 'onthewayReq' %}" class="text-dark">
                                <div class="info-box mb-3">
										<span class="info-box-icon bg-success elevation-1"><i
                                                class="fas fa-users"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">On the way for Sanitization</span> <span
                                            class="info-box-number"> {{totalontheway}}
											</span>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <a href="{% url 'inprocessReq' %}" class="text-dark">
                                <div class="info-box mb-3">
										<span class="info-box-icon bg-primary elevation-1"><i
                                                class="fas fa-user"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Inprocess Request</span> <span
                                            class="info-box-number"> {{totalinprocess}}
											</span>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <a href="{% url 'rejectReq' %}" class="text-dark">
                                <div class="info-box mb-3">
										<span class="info-box-icon bg-warning elevation-1"><i
                                                class="fas fa-user"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Rejected Request</span> <span
                                            class="info-box-number"> {{totalrejectreq}}
											</span>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <a href="{% url 'completeReq' %}" class="text-dark">
                                <div class="info-box mb-3">
										<span class="info-box-icon bg-secondary elevation-1"><i
                                                class="fas fa-user"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Completed Request</span> <span
                                            class="info-box-number"> {{totalcomreq}}
											</span>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <a href="{% url 'allReq' %}" class="text-dark">
                                <div class="info-box mb-3">
										<span class="info-box-icon bg-danger elevation-1"><i
                                                class="fas fa-user"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Total Request</span> <span
                                            class="info-box-number"> {{totalreq}}
											</span>
                                    </div>

                                </div>
                            </a>
                        </div>

                    </div>

                </div>
            </section>
        </div>

    </div>
</div>
</div>

{% endblock %}